$bg-body:linear-gradient(0deg, #353535, silver, white, white, white);
$color-pj:#000000;
$color-pj-two:#ffffff;
$color-paragraph: linear-gradient(to right, rgb(0, 0, 0), 
rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
$color-hover-paragraph-footer-2:yellow;